html body{
	width:1610px;
	height:2000px;
	padding:0px;
	margin:0px;
	border:solid 2px none;
}

#container{
	width:1610px;
	height:2000px;
	border:solid 2px none;
	margin:0 auto;
}

#header{
	width:1610px;
	height:600px;
	margin-top:0px;
	margin-bottom:0px;
	background-color:white;
}

.header_container{
	display:table;
	position:relative;
	height:100%;
	width:100%;
	background-color: white;
}
#inner_header{
	display:table-cell;
	width:1500px;
	height:300px;
	background-color:#49FF66;
	vertical-align:middle;
}

h2 {
	display:block;
	line-height: 1:1;
	text-rendering:optimizelegibility;
  	font-size:70px;
  	font-weight:700;
  	text-align: center;
}

.connect{
	display:block;
	width:1610px;
	height:20px;
	margin-top:0;
	margin-bottom:10px;
	font-size:20px;
	font-weight: bold;
	line-height: 1:1;
	text-rendering:optimizelegibility;
	text-align: center;
}

.connect-btn img{
	display:inline-block;
	height:30px;
	width:30px;
	text-align: center;
	vertical-align:middle;
}

.nav{
	vertical-align: middle;
}


nav ul {
	border:solid 1px none;
	background-color:none;
	list-style:none;
	padding:0px;
	margin-left:600px;
}

nav ul li {
	display: inline-block;
	width:10%;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	height:30px;
	font-size:14pt;
	vertical-align: middle;
}

.work {
	background-color: #FBF6FF;
	width:1610px;
	height:600px;
	margin:0;
	border:0;
	text-align: center;
	border-top: solid 2px #FBF6FF;
	border-bottom: solid 2px #FBF6FF;
}

.play {
	background-color: #C8D2FF;
	width:1610px;
	height:800px;
	margin:0;
	border:0;
	text-align: center;
	border-top: solid 2px #C8D2FF;
	border-bottom: solid 2px none;
}

#newyork{
	width:30%;
	height:720px;
	margin:0px;
	float:left;
	display:inline-block;
	background-color: none;
	border-top: 1px solid white;
	border
}

#chicago{
	width:30%;
	height:720px;
	margin:0px;
	display:inline-block;
	background-color: none;
	border-left: 1px solid none;
	border-right: 1px solid none;
	border-top: 1px solid white;
}

#london{
	width:30%;
	height:720px;
	margin:0px;
	float:right;
	display:inline-block;
	background-color: none;
	border-top: 1px solid white;
}

a:link, a:visited{
	color:black;
	text-decoration: none;
}

a:hover{
	text-transform: uppercase;
	color:white;
}

img {
	height:400px;
	width:60%;
}


